In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from imblearn.pipeline import make_pipeline
from imblearn.over_sampling import SMOTE

In [2]:
data = pd.read_csv("FraudTrain.csv")

In [3]:
data

,Unnamed: 0,cc_num,merchant,category,amt,gender,city,state,zip,job,dob,is_fraud,trans_date,year,month,day
0,0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,1,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,2019-01-01,2019,1,1
1,1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,1,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,2019-01-01,2019,1,1
2,2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,0,Malad City,ID,83252,Nature conservation officer,1962-01-19,0,2019-01-01,2019,1,1
3,3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,0,Boulder,MT,59632,Patent attorney,1967-01-12,0,2019-01-01,2019,1,1
4,4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,0,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0,2019-01-01,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76995,76995,3576281490078437,fraud_Block-Parisian,misc_net,98.44,0,Williams,IN,47470,Financial adviser,1990-06-13,0,2019-02-15,2019,2,15
76996,76996,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,1,Littleton,CO,80120,Water engineer,1975-07-31,0,2019-02-15,2019,2,15
76997,76997,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,1,Cranks,KY,40820,"Psychologist, counselling",1967-02-04,0,2019-02-15,2019,2,15
76998,76998,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,0,Mc Nabb,IL,61335,Audiological scientist,1956-01-09,0,2019-02-15,2019,2,15
76999,76999,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,0,Sontag,MS,39665,"Librarian, academic",1958-06-11,0,2019-02-15,2019,2,15

In [4]:
data.columns

Index(['Unnamed: 0', 'cc_num', 'merchant', 'category', 'amt', 'gender', 'city',
       'state', 'zip', 'job', 'dob', 'is_fraud', 'trans_date', 'year', 'month',
       'day'],
      dtype='object')

In [5]:
data.drop(["Unnamed: 0"],axis=1,inplace=True)

In [6]:
data

,cc_num,merchant,category,amt,gender,city,state,zip,job,dob,is_fraud,trans_date,year,month,day
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,1,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,2019-01-01,2019,1,1
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,1,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,2019-01-01,2019,1,1
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,0,Malad City,ID,83252,Nature conservation officer,1962-01-19,0,2019-01-01,2019,1,1
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,0,Boulder,MT,59632,Patent attorney,1967-01-12,0,2019-01-01,2019,1,1
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,0,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0,2019-01-01,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76995,3576281490078437,fraud_Block-Parisian,misc_net,98.44,0,Williams,IN,47470,Financial adviser,1990-06-13,0,2019-02-15,2019,2,15
76996,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,1,Littleton,CO,80120,Water engineer,1975-07-31,0,2019-02-15,2019,2,15
76997,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,1,Cranks,KY,40820,"Psychologist, counselling",1967-02-04,0,2019-02-15,2019,2,15
76998,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,0,Mc Nabb,IL,61335,Audiological scientist,1956-01-09,0,2019-02-15,2019,2,15
76999,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,0,Sontag,MS,39665,"Librarian, academic",1958-06-11,0,2019-02-15,2019,2,15

In [7]:
data.isnull().sum()

cc_num        0
merchant      0
category      0
amt           0
gender        0
city          0
state         0
zip           0
job           0
dob           0
is_fraud      0
trans_date    0
year          0
month         0
day           0
dtype: int64

In [8]:
data['dob'] = pd.to_datetime(data['dob'])
data['trans_date'] = pd.to_datetime(data['trans_date'])

In [9]:
data.dtypes

cc_num                 int64
merchant              object
category              object
amt                  float64
gender                 int64
city                  object
state                 object
zip                    int64
job                   object
dob           datetime64[ns]
is_fraud               int64
trans_date    datetime64[ns]
year                   int64
month                  int64
day                    int64
dtype: object

In [10]:


# Columns ke data types ko check karein
column_data_types = data.dtypes

# Numerical columns aur categorical columns ko alag-alag variables mein store karein
numerical_columns = []
categorical_columns = []

for column, dtype in column_data_types.items():
    if dtype == 'object':
        categorical_columns.append(column)
    else:
        numerical_columns.append(column)

print("Numerical Columns:", numerical_columns)
print("Categorical Columns:", categorical_columns)

Numerical Columns: ['cc_num', 'amt', 'gender', 'zip', 'dob', 'is_fraud', 'trans_date', 'year', 'month', 'day']
Categorical Columns: ['merchant', 'category', 'city', 'state', 'job']

In [11]:
X = data.drop(columns=['is_fraud'])
y = data['is_fraud']

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, mean_absolute_error, roc_auc_score

# Load the dataset
# Assuming data is already loaded into a variable called 'data'

# Separate features and target variable
X = data.drop(columns=['is_fraud'])
y = data['is_fraud']

# One-hot encode categorical variables
X_encoded = pd.get_dummies(X, columns=['merchant', 'category', 'city', 'state', 'job'])

# Drop columns 'dob' and 'trans_date' if they are not needed for training
X_encoded.drop(columns=['dob', 'trans_date'], inplace=True)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Apply SMOTE to balance the training data
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Train the Random Forest Classifier
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train_resampled, y_train_resampled)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
print("Classification Report:")
print(classification_report(y_test, y_pred))


accuracy = accuracy_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Mean Absolute Error:", mae)
print("ROC-AUC Score:", roc_auc)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     15254
           1       0.94      0.77      0.85       146

    accuracy                           1.00     15400
   macro avg       0.97      0.89      0.92     15400
weighted avg       1.00      1.00      1.00     15400